[Unit]
Description=Isso demo instance restart timer

[Timer]
# Trigger every night at 02:20 AM
OnCalendar=*-*-* 02:20:00
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
